@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
  outline: none;
}

:focus:not(:focus-visible) {
  outline: none;
}

html,
body {
  @apply h-full;
}

.discord-button {
  background-color: #5865f2;
}

@keyframes progress-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.loading {
  animation: progress-animation 1000ms ease 400ms infinite;
}
